@import 'styles/_utile';

.box {
  overflow: auto;
  max-height: 117px;
  margin-bottom: $gutter / 2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button {
  display: block;
  width: 100%;
  margin-bottom: $gutter;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
